@import "colors";

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include flex(center, center);
  background: url(../images/pattern-background-mobile.svg);
  background-color: $paleBlue;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 26em) {
    background: url(../images/pattern-background-desktop.svg);
    background-color: $paleBlue;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

h2,
h3 {
  color: $darkBlue;
}

p {
  color: $desaturatedBlue;
}

a {
  display: block;
  text-decoration: none;
}

.sr-only {
  clip-path: rect(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.payment-btn,
.cancel-btn {
  font-weight: 700;
  transition: 0.3s linear;
}

.card {
  background: $veryPaleBlue;
  border-radius: 18px;
  box-shadow: 0 0 15px $cardShadow;
  max-width: 23rem;
  margin: 1rem 0;
  overflow: hidden;
  text-align: center;
  width: 90%;

  &-image {
    width: 100%;
  }

  &-body {
    padding: 1.6rem 1rem;

    @media (min-width: 22.5em) {
      padding: 2rem 1.85rem;
    }
  }

  &-heading {
    font-size: clamp(1.25rem, calc(1.5rem + 0.6vw), 1.7rem);
    font-weight: 900;
    margin-bottom: 1rem;
  }

  &-description {
    font-size: clamp(0.9375rem, calc(1.215vw + 1rem), 1.03125rem);
    line-height: 1.6;
    margin-bottom: 1.5625rem;
  }
}

.subscription {
  $veryPaleBlue: hsl(225, 100%, 97%);
  @include flex(space-between, center);
  background: $veryPaleBlue;
  border-radius: 10px;
  margin: 0 auto 1.5rem;
  padding: 0.625rem 0.7rem;

  &-left {
    @include flex(flex-start, center);
    column-gap: 1.125rem;

    @media (max-width: 22.5em) {
      .music-icon {
        width: 2.1875rem;
      }
    }
  }

  .plan {
    text-align: left;

    &-duration {
      font-size: 1rem;
      font-weight: 900;
    }

    &-price {
      font-size: 0.9375rem;
    }
  }

  .change-btn {
    color: $brightBlue;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.payment-btn {
  background: $brightBlue;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px $btnShadow;
  color: $paleBlue;
  margin-bottom: 1.25rem;
  padding: 0.75rem;

  &:hover {
    opacity: 0.8;
  }
}

.cancel-btn {
  color: $desaturatedBlue;

  &:hover {
    color: $darkBlue;
  }
}

@media (max-width: 22.5em) {
  .payment-btn,
  .cancel-btn,
  .plan-duration,
  .plan-price {
    font-size: clamp(0.625rem, calc(0.8125rem + 0.2vw), 1.03125rem);
  }
}

.attribution {
  font-size: clamp(0.75rem, calc(0.875rem + 0.2vw), 1.0625rem);
  margin-bottom: 1.25rem;
  text-align: center;
  width: 80%;

  a {
    color: $brightBlue;
    display: inline-block;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
