:root {
  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-200: hsl(225, 100%, 94%);
  --clr-neutral-300: hsl(245, 75%, 89%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-500: hsl(223, 47%, 23%);
  --clr-neutral-600: hsla(245, 75%, 52%, 0.2);
  --clr-primary: hsl(245, 75%, 52%);

  --ff-primary: "Red Hat Display", sans-serif;
  --transition: 0.3s linear;
}
